* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Rubik', sans-serif;
}

.menu {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

header {
    background-color: #0A61F7;
    padding: 14px 0;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding: 0 15px;
}

.menu-item {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66667;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.34375;
    color: #363940;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #95a1bb;
}

/* ========================== Style first section ======================= */

.main-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 1.17241;
    color: #363940;
    margin-bottom: 30px;
}

.main .text {
    margin-bottom: 40px;
    max-width: 380px;
}

.button {
    border-radius: 4px;
    width: 152px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #0a61f7;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 800px;
}

.main-img {
    align-self: flex-end;
}

/* ========================== Style second section =======================  */

.rates-section {
    padding: 100px 0;
    background-color: #f9fafc;
}

.rates-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates-section .title {
    margin-bottom: 20px;
}

.rates-section .text {
    margin-bottom: 40px;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #95A1BB;
    padding: 15px 0;
    text-align: center;
    width: 240px;
}

.table-subtitle {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363940;
    padding-left: 20px;
}

.table-subtitle.gray {
    color: #95a1bb;
}

.table-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}

.table-link {
    color: #0A61F7;
}

.table-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.63333;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    color: #0A61F7;
    border: 1px solid #0A61F7;
    border-radius: 4px;
    width: 140px;
    padding: 8px 0;
}

.table-button.active {
    background-color: #0A61F7;
    color: #fff;
}

.table-footer td {
    padding: 30px 0;
}

/* ========================== Style third section =======================  */

.create-account-section {
    padding: 100px 0;
}

.account-wrapper {
    display: flex;
    justify-content: space-between;
}

.create-account-section .title {
    padding-bottom: 50px;
}

.create-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}

.list-item {
    margin-bottom: 15px;
    list-style-image: url(./assets/image/Mask.svg);
    margin-left: 30px;
    color: #363940;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.stack, fieldset {
    display: flex;
    gap: 30px;
}

.fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input, select, fieldset, textarea, label, legend, input::placeholder, select::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #95a1bb;
    font-family: inherit;
}

input[type="text"] {
    width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
    flex-grow: 1;
}

input[type="checkbox"], input[type="radio"], input[type="date"], select {
    cursor: pointer;
}

fieldset {
    width: 100%;
    padding: 30px 15px;
}

textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}

form .button {
    width: 100%;
    text-align: center;
}

select {
    background: url(./assets/image/Arrow-down.svg) no-repeat right 15px 50%;
    appearance: none;
}

input[type="date"]::webkit-calendar-picker-indicator {
    background: url(./assets/image/Calendar.svg) no-repeat;
}

/* ========================== Style footer =======================  */

footer {
    background-color: #0a61f7;
    padding: 20px;
    text-align: center;
}

small {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #fff;   
}

/* @media screen and (max-width: 745px)  {

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 800px;
}
  
} */
